.navbar{
    background-color: #374244;
    color: white;
    border-color: #1D2425;
}

.nav-links{
    background-color: #475355;
    border-color: #2B3335;
}
.nav-links :hover{
    background-color: #FE7B2A;
    border: 1px solid black;
}

.nav-links.active{
    background-color: #FE7B2A;
    border: 1px solid black;
}

.nav-links-bg {
    background-color: #FE7B2A;
    border: 1px solid black;
}

.connect-wallet-button{
    background-color: #FE7B2A;
    border-color: #2B3335;
}